<div>
    <div ng-controller="dataController">
        <input type="text" placeholder="title" ng-model="sendModel.title">
        <input type="text" placeholder="body" ng-model="sendModel.body">
        <input type="number" placeholder="body" ng-model="sendModel.id">
        <button ng-click="send()">Send POST</button>
        <button ng-click="get()">GET</button>
    </div>
    <div ng-controller="dataController">
        <input type="number" placeholder="body" ng-model="deleteModel.id">
        <button ng-click="delete()">Delete</button>
    </div>
    <div ng-controller="scannerController">
        <span id="quaggaTarget"></span>
    </div>
</div>
